---
import Layout from "../../layouts/Layout.astro"
import Footer from "../../layouts/Footer.astro"
import '@fontsource/playfair-display';
import { Image } from "astro:assets";
import blogpremio1 from "../../assets/blogpremio1.jpg"
import blogpremio2 from "../../assets/blogpremio2.jpg"
import blogpremio3 from "../../assets/blogpremio3.jpg"
import blogpremio4 from "../../assets/blogpremio4.jpg"
---

<Layout title="Entrega de premio - FMEW">
    <div class="my-20 md:mt-0 mx-10 lg:mx-0">
        <h1 class="text-center font text-4xl">Entrega de premio Fundación María Elena Walsh</h1>
        <div class="md:max-w-6xl m-auto my-8 lg:px-0">
            <div class="flex flex-col justify-center items-center">
                <div class="flex flex-col md:flex-row gap-5 mt-4">
                    <Image src={blogpremio1} alt="interes1" class="w-96"/>
                    <Image src={blogpremio2} alt="interes2" class="w-96"/>
                </div>
                <div class="flex flex-col md:flex-row gap-5 mt-4">
                    <Image src={blogpremio3} alt="interes4" class="w-96"/>
                    <Image src={blogpremio4} alt="interes5" class="w-96"/>
                </div>
            </div>
            
            <p class="mt-4">El 30 de septiembre se formalizó la entrega del Premio Fundación María Elena Walsh 2020 en el ámbito de la Fotogalería del Teatro San Martín.</p>
            <p>En ese año el Premio consistió en una convocatoria en el campo de la fotografía con la consigna de presentar un ensayo de 40 fotos sobre el aislamiento que se vivía durante la pandemia y por lo que se denominó “Vivir 2020”.            </p>

            <p class="mt-4">El jurado integrado por Sara Facio, Silvia Mangialardi y Graciela García Romero eligió a María de la Paz Gutiérrez como ganadora del certamen por su trabajo “Un eterno domingo” y otorgó tres menciones a Mauricio Centurión, Mariano Manikis y Martín Bonetto por sus ensayos “Río de fuego”, “El silencio” y “Serie familiar”, respectivamente.            </p>

            <p class="mt-4">Con la presencia de la Directora del Complejo Teatral Buenos Aires, Gabriela Ricardes, y un numeroso público, las representantes de la Fundación María Elena Walsh, Graciela García Romero y Silvia Mangialardi le hicieron entrega a María de la Paz de la escultura de Marina Dogliotti, emblema de la Fundación.            </p>
            <p>Hasta el 30 de octubre estará abierta al público la muestra ganadora en la Fotogalería y las tres menciones en el primer piso del teatro.            </p>

        </div>
    </div>
    <Footer/>
</Layout>
<style>
    .font{
        font-family: "playfair display", sans-serif;
    }
    li{
        font-weight: 300 !important;
    }
</style>