---
import Layout from "../../layouts/Layout.astro"
import Footer from "../../layouts/Footer.astro"
import '@fontsource/playfair-display';
import { Image } from "astro:assets";
import ruptura from "../../assets/ruptura.jpeg"
---

<Layout title="Jornadas Académicas Nacionales - FMEW">
    <div class="my-20 md:mt-0 mx-10 lg:mx-0">
        <h1 class="text-center font text-4xl">Jornadas Académicas Nacionales "María Elena Walsh, la ruptura"</h1>
        <div class="md:max-w-6xl m-auto my-8 lg:px-0">
            <Image class="mt-4 m-auto w-96" src={ruptura} alt="manuelita" />
            <br>
            <br>
            <p class="text-lg"><b>Universidades y centros de investigación de todo el país llevan adelante estas jornadas académicas nacionales en un espacio de reflexión sobre María Elena Walsh, con clases magistrales, seminarios, ponencias y experiencias artísticas.</b></p>

            <p class="mt-8"><b>Exposición María Elena Walsh en todos sus formatos</b></p>
            <p class="list-disc list-outside ml-5 mt-2">
                <p>Sala del Tesoro Paul Grossac | Biblioteca Nacional.<br>
                    La exposición se puede visitar del 10 de junio al 3 de agosto de lunes a viernes de 9 a 21hrs y sábados y domingos de 12 a 19hrs.<br>
                    Del 10 al 13 de junio se realizarán recorridos por la exposición.</p>
            </p>
            <p class="mt-4"><b>Horarios de los recorridos</b></p>
            <p class="list-disc list-outside ml-5 mt-2">
                <p>Martes 10 de junio: 17hrs.<br>
                    Miércoles 11 de junio: 17hrs.<br>
                    Jueves 12 de junio: 14:30 y 17hrs. <br>
                    Viernes 13 de junio: 14:30hrs. 
                </p>
            </p>

            <p class="font-medium text-lg mt-8 underline">Programa</p>
            
            <h3 class="text-lg mt-4"><b>Martes 10</b></h3>
            
            <p><b>15:30 hs | Apertura de las Jornadas Académicas</b></p>
            <p>Palabras de bienvenida a cargo de representantes universitarios y organizadores</p>
            
            <h4 class="mt-2"><b>Ponencias doctorales: Leer a María Elena</b></h4>
            <ul class="list-disc list-inside ml-4">
                <li>Grupo de Narración: Dúo Las W – “Protocolos y operaciones de la crítica para leer a María Elena Walsh en nuestros años 60” – Dra. Lucía Belén Couso (UNMdP/CONICET).</li>
                <li>“El reino del revés’, una poética lúdica y desescolarizante” – Prof. Edmundo Juárez (UNJu/I.E.S. Nº 7).</li>
                <li>“Invitación medieval: María Elena Walsh, Baudelaire y los Carmina Cantabrigensia” – Dra. Gabriela A. Marrón (UNS/CONICET).</li>
                <li>“El Derecho a la Imaginación como derecho cultural” – Laura R. García (UNT/Invelec/CONICET).</li>
            </ul>

            <p class="mt-2"><b>Experiencia taller:</b> “María Elena Walsh iluminada” – Lucero Guadalupe Arcella y Alina Lusiana Colombo (Sede BN Ricardo Piglia)</p>
            <p><b>Intervención artística:</b> “Primera mandarina y última flor” – Proyecto “Demorar la mirada para renovar el asombro” (UnCuyo)</p>

            <p class="mt-4"><b>17:30 hs | Conversatorio de Apertura</b></p>
            <p>Bienvenida a cargo de Graciela García Romero (Fundación Walsh-Facio) y Susana Soto (BN)<br>
            Conducción: Victoria Carreras</p>
            <p><b>Intervención artística:</b> Coro del Colegio de Traductores Públicos de CABA</p>
            <p><b>Mesa:</b> María Elena Walsh, el periodismo y sus apuntes para salir del soliloquio</p>
            <p>Modera: Cristina Mucci<br>
            Exponen: Carlos Ulanovsky, Natalí Schejtman y Maxi Legnani</p>
            <p><b>Cierre musical:</b> Sandra Mihanovich</p>

            <h3 class="text-lg mt-6"><b>Miércoles 11</b></h3>
            <p><b>15 hs | Mesa I: Ruptura e innovación en la literatura infantil</b></p>
            <ul class="list-disc list-inside ml-4">
                <li>Susurros de Palabrapan – Gabriela García, Verónica Pucciariello, Susana Zabala y Elizabeth Molver</li>
                <li>“Aire libre (1967): ruptura del canon” – Mg. Cristina Blake</li>
                <li>“Sin sentido, disparate y fantasía” – Mg. Laura Martín Osorio (UnCuyo)</li>
                <li>“La poesía de MEW en la enseñanza de la lengua” – Mg. Anabella Poggio (UBA)</li>
                <li>“MEW: planificar prácticas de lectura...” – Prof. Carolina Mathieu (UNSAM)</li>
                <li>“El reino del revés: topografía y utopía” – Prof. Guillermo Negri (UNSAM)</li>
                <li>“Lectura adolescente de Juguemos en el mundo” – Dra. Mirta Gloria Fernández (UNSAM)</li>
            </ul>
            <p><b>Intervención artística:</b> “Campana de palo” – Coro Vocacional de la Universidad del Chubut</p>

            <p class="mt-4"><b>16 hs | Mesa II: Género, María Elena y el feminismo</b></p>
            <p>Modera: Dra. Adriana Valobra</p>
            <ul class="list-disc list-inside ml-4">
                <li>“La invisibilidad lésbica...” – Dra. Gisela Manzoni (UNLP)</li>
                <li>“Derivas tras una sirena del río Paraná” – Prof. Mónica Ávila y Albertina Klitenik (UNDelta)</li>
                <li>“Estereotipos de género...” – Lic. Muriel Troncoso y Lic. María Cecilia Romero (UBA)</li>
                <li>“Voces feministas en diálogo” – Lic. Verónica París y Lic. Irene Gerez (UDC)</li>
            </ul>
            <p><b>Intervención artística:</b> “Como la cigarra” – Prof. Carla Liguori</p>

            <p class="mt-4"><b>17:30 hs | Conversatorio:</b> La Cigarra y la primera derrota del feminismo en la primavera alfonsinista</p>
            <p>Modera: Graciela García Romero<br>
            Exponen: Tamara Tenenbaum, Diana Maffía, Cristina Noble, Leticia Manauta y María Inés Aldaburu</p>
            <p><b>Cierre musical:</b> Lidia Borda</p>

            <h3 class="text-lg mt-6"><b>Jueves 12</b></h3>
            <p><b>15:30 hs | Mesa: Poética</b></p>
            <ul class="list-disc list-inside ml-4">
                <li>“Adivina, adivinador”: propuestas didácticas – Dra. María Soledad Funes (UBA)</li>
                <li>“Imagen, ethos y diálogo...” – Trad. Mariela Romero (UNLP)</li>
            </ul>
            <p><b>Intervención artística:</b> “Entre las hojas que cantan” – Archivo Gregorio Bermann (CEA/UNC)</p>

            <p class="mt-4"><b>17:30 hs | Conversatorio:</b> Lo que hay adentro de las nueces: el poema como lugar de resistencia</p>
            <p>Modera: Graciela Perosio<br>
            Exponen: Andi Nachón, Anahí Mallol, Gustavo Álvarez Núñez</p>
            <p><b>Cierre artístico:</b> Joven Ballet Argentino</p>

            <h3 class="text-lg mt-6"><b>Viernes 13</b></h3>
            <p><b>15:30 hs | Mesa: Literatura infantil</b></p>
            <ul class="list-disc list-inside ml-4">
                <li>“Los ecos de María Elena Walsh...” – Esp. María Emilia López (UBA)</li>
                <li>“Redescubriendo a María Elena Walsh...” – Dra. Viviana Pappier (UNLP/CINIG)</li>
                <li>“El bosque en la tradición literaria...” – Prof. María Virginia Corbetta y Dra. María Emilia Cairo (UNLP/CONICET)</li>
            </ul>
            <p><b>Intervención artística:</b> “Estamos fritos” – Cintia Aminah Blanco, narradora</p>

            <p class="mt-2"><b>Experiencias taller:</b></p>
            <ul class="list-disc list-inside ml-4">
                <li>“¿Otra vez María Elena? Paseo por una colección...” – CEDILIJ, Ciudad de Córdoba</li>
                <li>“Diálogos con MEW...” – Sonia M. Saracho, Jorgelina L. Chaya y Laura R. García, Tucumán</li>
            </ul>

            <p class="mt-4"><b>17:30 hs | Conversatorio:</b> Inventar la infancia: cuando los chicos llegaron al centro de la escena</p>
            <p>Modera: María Fernanda Maquieira<br>
            Exponen: Alicia Origgi, Georgina Barbarossa, Mariana Ruiz Johnson</p>
            <p><b>Cierre musical:</b> Lula Bertoldi</p>
            
            <br>
            <br>
            <a href="/triptico.pdf" download="tríptico.pdf" class="border-2 border-gray-500 w-max my-8 p-4 hover:cursor-pointer rounded hover:bg-gray-500">
                Descargar PDF
            </a>

            <p class="mt-16"><b>Buenos Aires, junio-julio 2025 </b></p>

        </div>
    </div>
    <Footer/>
</Layout>
<style>
    .font{
        font-family: "playfair display", sans-serif;
    }
    li{
        font-weight: 300 !important;
    }
</style>