---
import Layout from "../../layouts/Layout.astro"
import Footer from "../../layouts/Footer.astro"
import '@fontsource/playfair-display';
import { Image } from "astro:assets";
import reves from "../../assets/reves.jpeg"
---

<Layout title="Premio Estudiantil 2025 - FMEW">
    <div class="my-20 md:mt-0 mx-10 lg:mx-0">
        <h1 class="text-center font text-4xl">Convocatoria al premio Estudiantil 2025 - "El Reino del Revés"</h1>
        <div class="md:max-w-6xl m-auto my-8 lg:px-0">
            <Image class="mt-4 m-auto w-96" src={reves} alt="manuelita" />
            <br>
            <br>
            <p class="text-lg"><b>Universidades y centros de investigación de todo el país llevan adelante estas jornadas académicas nacionales en un espacio de reflexión sobre María Elena Walsh, con clases magistrales, seminarios, ponencias y experiencias artísticas.</b></p>

            <p class="mt-8 text-lg"><b>Categorías</b></p>
            <ul>
                <li class="font-light"><b>1. Nivel Inicial:</b> Producciones plásticas</li>
                <li class="font-light"><b>2. Primario:</b> Video</li>
                <li class="font-light">- De 1er. a 3er. grado</li>
                <li class="font-light">- De 4to. a 7mo. grado</li>
                <li class="font-light"><b>3. Secundario:</b> Fotografía</li>
                <p class="mt-2">En todos los casos serán producciones grupales</p>
            </ul>	

            <p class="mt-4 text-lg"><b>Destinatarios</b></p>
            <p>Pertenecientes a instituciones educativas, sociales o culturales, públicas o privadas.</p>

            <p class="mt-4 text-lg"><b>Modalidad</b></p>
            <p>Producciones colectivas inspiradas en el pensamiento filosófico de “El Reino Del Revés”.</p>
            <p>Cada institución deberá elegir, con la participación de su comunidad, una sola pieza en representación de la misma.</p>

            <p class="mt-4 text-lg"><b>Presentación</b></p>
            <p>Una obra por institución, en formato JPG o mp4 duración máxima 5 minutos, según corresponda, acompañada por el pdf con todos los datos requeridos. Deben enviarse en un solo mail a <a href="#" class="underline" onclick="navigator.clipboard.writeText('premioinfantilwalshfacio@gmail.com'); return false;"> premioinfantilwalshfacio@gmail.com</a>.</p>

            <p class="mt-4 text-lg"><b>Datos requeridos</b></p>
            <p>Formulario pdf adjunto.</p>

            <p class="mt-4 text-lg"><b>Premio</b></p>
            <p>Una colección completa de libros de María Elena Walsh para la escuela ganadora de cada categoría.</p>
            <p>El jurado podrá otorgar menciones especiales si lo considera pertinente.</p>

            <p class="mt-4 text-lg"><b>Cronograma</b></p>
            <ul>
                <li class="font-light"><b>Recepción de obras:</b> del 1 al 5 de septiembre 2025.</li>
                <li class="font-light"><b>Notificación de los Resultados:</b> a partir del 29 de septiembre de 2025.</li>
                <li class="font-light"><b>Entrega de premios:</b> fecha y lugar a confirmar.</li>
            </ul>

            <p class="mt-8 text-xl underline"><b>Jurados</b></p>
                <ul class="mt-2">
                    <li class="font-light"><b>Artes Plásticas:</b></li>
                    <li class="font-light">Raquel Cané</li>
                    <li class="font-light">Ezequiel Díaz Ortiz</li>
                    <li class="font-light">Pablo Elías</li>
                    <br>
                    <li class="font-light"><b>Videos:</b></li>
                    <li class="font-light">Maijo D´Amico</li>
                    <li class="font-light">Graciela García Romero</li>
                    <li class="font-light">Daniel Rivas</li>
                    <br>
                    <li class="font-light"><b>Fotografía:</b></li>
                    <li class="font-light">Elda Harrington</li>
                    <li class="font-light">Silvia Mangialardi</li>
                    <li class="font-light">Juan Travnik</li>
                </ul>

                <p class="mt-8 text-lg"><b>Derechos de uso</b></p>
                <p>Las obras premiadas o mencionadas ceden a la Fundación el derecho de uso para difusión (prensa, redes, TV, mail), por el plazo de un (1) año, sin perder sus derechos de autor según la Ley 11.723.</p>
    
                <p class="mt-4 text-lg"><b>Sobre la aceptación</b></p>
                <p>La participación en este premio implica la aceptación total de estas bases.</p>
                <p>Toda situación no prevista será resuelta por la Fundación María Elena Walsh – Sara Facio.
                </p>
            
            <br>
            <br>
            <div class="flex flex-col md:flex-row gap-4">
                <a href="/triptico.pdf" download="tríptico.pdf" class="border-2 border-gray-500 w-max p-4 hover:cursor-pointer rounded hover:bg-gray-500 transition">
                    Descargar Bases y Condiciones
                </a>
                <a href="/triptico.pdf" download="tríptico.pdf" class="border-2 border-gray-500 w-max p-4 hover:cursor-pointer rounded hover:bg-gray-500 transition">
                    Descargar Formulario 
                </a>
            </div>

            <p class="mt-16"><b>Buenos Aires, julio-agosto 2025 </b></p>

        </div>
    </div>
    <Footer/>
</Layout>
<style>
    .font{
        font-family: "playfair display", sans-serif;
    }
    li{
        font-weight: 300 !important;
    }
</style>