---
import Layout from "../../layouts/Layout.astro"
import Footer from "../../layouts/Footer.astro"
import '@fontsource/playfair-display';
import { Image } from "astro:assets";
import premio from "../../assets/premios3.png"
---

<Layout title="María Elena Viva - FMEW">
    <div class="my-20 md:mt-0 mx-10 lg:mx-0">
        <h1 class="text-center font text-4xl">Premio Fundación María Elena Walsh – Sara Facio <br>Año 2024 – Literatura</h1>
        <div class="md:max-w-6xl m-auto my-8 lg:px-0">
            <Image class="mt-4 m-auto w-3/4" src={premio} alt="manuelita" />
            <p class="font-semibold mt-4">Bases y condiciones</p>
            <p>Se convoca con carácter nacional al Premio Fundación María Elena Walsh – Sara Facio 2024 dedicado a la disciplina Literatura.</p>

            <p class="mt-4"><b>Género:</b> Novela erótica.</p>
            <p class="font-semibold mt-4">Participantes</p>
            <p class="list-disc list-outside ml-5 mt-2">
                <p>Participación libre y gratuita. Podrán participar escritores mayores de 18 años nacidos/as en la Argentina y extranjeros/as con residencia en el país de por lo menos dos años.<br>
                    La obra deberá ser inédita. Perderá esta condición sí, aun no habiéndose publicado, haya circulado por internet.<br>
                    La obra no deberá tener los derechos editoriales reservados, ni estar en concursos con dictámenes pendientes.</p>
            </p>
            <p class="font-semibold mt-4">Modo de entrega</p>
            <p class="list-disc list-outside ml-5 mt-2">
                <p>Se enviará a premiofundacionwalshfacio@gmail.com un archivo digital con la obra cuyo nombre deberá ser el título de la obra y seudónimo.<br>
                    Deberá estar escrita en castellano, tipografía Times New Roman, cuerpo 12, interlineado doble, con márgenes de 3cm. (dichas condiciones son excluyentes).<br>
                    Otro archivo Word con el título de la obra y seudónimo contendrá en su interior los datos personales e información de contacto completa: Nombre completo, DNI, edad, domicilio, teléfono, mail. 
                </p>
            </p>

            <p class="font-semibold mt-4">Premio</p>
            <ul class="list-disc list-outside ml-5 mt-2">
                <li>Equivalente en pesos argentinos a U$S 1.000 (Mil dólares EEUU).
                </li>
                <li>Obra de Arte de Marina Dogliotti, emblema de la FMEW.
                </li>
                <li>El jurado podrá otorgar menciones si lo considerase conveniente.
                </li>
            </ul>

            <p class="font-semibold mt-4">Jurado</p>
            <ul class="list-disc list-outside ml-5 mt-2">
                <li>El Jurado estará compuesto por 3 miembros: 
                </li>
                <li>Claudia Piñeiro, Dolores Reyes y Mariano Vespa.
                </li>
                <li>Su fallo será inapelable.
                </li>
            </ul>

            <p class="font-semibold mt-4">Calendario</p>
            <ul class="list-disc list-outside ml-5 mt-2">
                <li>Recepción de obras: desde el 1° al 15 de septiembre de 2024.
                </li>
                <li>Comunicación del resultado y entrega del premio en el Festival María Elena Walsh a realizarse en fecha a confirmar.
                </li>
            </ul>

            <p class="font-semibold mt-4">Derechos de uso</p>
            <p>La participación en el Premio conlleva la cesión de los derechos de publicación de la obra premiada a favor de la FMEWSF, al sólo efecto de promover el Premio FMEWSF, sin que ello implique por parte del autor la renuncia a ningún otro derecho intelectual.</p>
            <p>El derecho a publicar no se cede en carácter exclusivo.</p>

            <p class="font-semibold mt-4">Otros requisitos</p>
            <p class="">La participación en este Premio supone la aceptación total de sus bases. Los casos no previstos en ellas serán resueltos por la FMEWSF.</p>
            
            <p class="mt-4">Buenos Aires, mayo 2024</p>

        </div>
    </div>
    <Footer/>
</Layout>
<style>
    .font{
        font-family: "playfair display", sans-serif;
    }
    li{
        font-weight: 300 !important;
    }
</style>