---
import Layout from "../../layouts/Layout.astro"
import Footer from "../../layouts/Footer.astro"
import '@fontsource/playfair-display';
---

<Layout title="María Elena en la comunidad - FMEW">
    <div class="my-20 md:mt-0 mx-10 lg:mx-0">
        <h1 class="text-center font text-4xl">María Elena en la comunidad</h1>
        <div class="m-auto flex justify-center w-full lg:w-2/3 h-[40rem] my-8">
            <iframe class="w-full h-full" src="https://www.google.com/maps/d/embed?mid=1hQCsL_vijFkzE68i8q58K-_gUE6fdwc&ehbc=2E312F" width="640" height="480"></iframe> 
        </div>
    </div>
    <Footer/>
</Layout>
<style>
    .font{
        font-family: "playfair display", sans-serif;
    }
</style>