---
import About from "../components/About.astro";
import Novedad from "../components/Novedad.astro";
import Enlaces from "../components/Enlaces.astro";
import EnlacesMEW from "../components/EnlacesMEW.astro";
import EnlacesSara from "../components/EnlacesSara.astro";
import Enlaces2 from "../components/Enlaces2.astro"
import { Video } from "../components/react/Video"
import { Campana } from "../components/react/Campana"
import Layout from '../layouts/Layout.astro';
import Footer from "../layouts/Footer.astro";
import '@fontsource/playfair-display';
import manuelita from "../assets/manuelita.png"
import { Image } from "astro:assets";
import premios2 from "../assets/premios2.png"
import premios3 from "../assets/premios3.png"
import reves from "../assets/reves.jpeg"
import niños from "../assets/7 (1).jpg"
import logoblack from "../assets/logo black.jpeg"
import Noticiamd from "../components/Noticiamd.astro";
import Jornadas from "../assets/rupturaRecortado.jpeg"
import { getCollection } from "astro:content";


const noticias = await getCollection("noticias");
noticias.sort((a, b) => (b.data.order ?? 0) - (a.data.order ?? 0));

// Solo las dos más recientes
const ultimasNoticias = noticias.slice(0, 2);


---

<Layout title="FMEW – Fundación María Elena Walsh.">
	<div class="absolute top-0 -z-10 w-screen h-screen">
		<Video client:visible/>
		<!-- <Campana/> -->
		<About />
		<Novedad />
		<h2 class="text-center font text-2xl">Fundación María Elena Walsh - Sara Facio</h2>
		<Enlaces/>
		<h2 class="text-center font text-2xl">María Elena Walsh</h2>
		<EnlacesMEW/>
		<!-- <h2 class="text-center font text-2xl">Sara Facio</h2> -->
		<!-- <EnlacesSara/> -->
		<h2 class="text-center font text-2xl">Otros Enlaces</h2>
		<Enlaces2/>
		<h3 id="noticias" class="text-center font text-2xl">Últimas Noticias</h3>
		<div class="md:max-w-6xl m-auto flex flex-col md:flex-row gap-8 my-8 px-10 lg:px-0">
			{ultimasNoticias.map((noticia, i) => (
			  <Noticiamd
				src={noticia.data.image2}
				href={`/noticias/${noticia.slug}`}
				title={noticia.data.title}
				description={noticia.data.description}
				ultima={i === 0}
			  />
			))}
		  </div>
		<div class="flex justify-center mb-20">
			<a href="/noticias" class="text-sm font-bold border-white px-6 py-2 rounded border-2 hover:brightness-75 duration-150">VER TODAS</a>
		</div>
		<Footer/>
    </div>
</Layout>

<style>
	.font{
		font-family: "playfair display", sans-serif;
	}
	html{
		scroll-behavior: smooth;
	}
</style>