---
import Footer from "../../layouts/Footer.astro"
import Header from "../../layouts/Header.astro"
import '@fontsource/playfair-display';
import '@fontsource/poppins';
import "@fontsource/poppins/200.css"

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/image.png" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
		<meta name="description" content="Se crea la Fundación María Elena Walsh por iniciativa de Sara Facio en gratitud por el legado recibido de su gran amiga y compañera de toda una vida.">
		<link rel="canonical" href="https://web.archive.org/web/20231111235619/https://fundacionmariaelenawalsh.com/">
		<meta name="generator" content={Astro.generator} />
		<title>Premio y Homenajes - FMEW</title>
	</head>
	<body>
		<Header/>
		<div class="mb-20 mt-20 md:mt-0">
            <h1 class="text-center font text-4xl">Premios y Homenajes</h1>
            <div class="gallery js-flickity max-w-6xl m-auto mt-8 h-56 md:h-[30rem]" data-flickity='{"pageDots": false, "contain": true, "autoPlay": true }' data-flickity-options='{ "wrapAround": true }'>
                <div class="gallery-cell first h-max"></div>
                <div class="gallery-cell second"></div>
                <div class="gallery-cell third"></div>
                <div class="gallery-cell fourth"></div>
                <div class="gallery-cell fifth"></div>
                <div class="gallery-cell sixth"></div>
            </div>

            <div class="flex max-w-6xl m-auto col-span-2 gap-8 mb-8">
                <div class="container m-auto">
                    <div class="wrapper">
                      <ul class="sessions">
                        <li>
                          <div class="text-white font-semibold text-base year">1947</div>
                          <p class="text-xs md:text-base">Premio Municipal de Poesía Gobierno de la Ciudad de Buenos Aires –
                            Otorgado por su primer libro Otoño imperdonable</p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">1969</div>
                          <p class="text-xs md:text-base">Premio "Actuación femenina en show" - Martín Fierro TV - APTRA</p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">1971</div>
                          <p class="text-xs md:text-base">Premio Argentores Cine / Comedia - Por Juguemos en el mundo</p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">1973</div>
                          <p class="text-xs md:text-base">Gran Premio de Honor SADAIC - Música Internacional

                          </p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">1981</div>
                          <p class="text-xs md:text-base">Premio Konex de Platino - Espectáculo infantil</p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">1982</div>
                          <p class="text-xs md:text-base">Gran Premio de Honor - Fundación Argentina para la Poesía</p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">1985</div>
                          <p class="text-xs md:text-base">a) Ciudadana Ilustre de la Ciudad de Buenos Aires - MCBA - Intendente: Julio César Saguier / Secretario de Cultura: Mario O'Donnell <br>
                            b) Miembro del Directorio del Consejo para la Consolidación de la Democracia - Designada por decreto del Poder Ejecutivo firmado por el Presidente Raúl Alfonsín</p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">1990</div>
                          <p class="text-xs md:text-base">Doctor Honoris Causa de la Universidad Nacional de Córdoba - Rector: Dr. Francisco Delich - Provincia de Córdoba</p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">1991</div>
                          <p class="text-xs md:text-base">a) Highly Commended - Premio Christian Andersen – Dinamarca <br>
                            b) Personalidad Ilustre de la Provincia de Buenos Aires - Decreto del Gobernador Antonio Cafiero</p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">1994</div>
                          <p class="text-xs md:text-base">Premio Konex de Platino - Letras - Literatura Infantil - Entregado por el Presidente Carlos Menem en el Teatro Colón - Buenos Aires</p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">1995</div>
                          <p class="text-xs md:text-base">a) Premio Mundial de Literatura Infantil José Martí - Costa Rica <br>
                            b) Mención Honorífica de la Universidad Nacional de Tucumán <br>
                            c) Encuentro de Argentinos - Universidad de Maryland - Biblioteca del Congreso - Washington - Estados Unidos</p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">1996</div>
                          <p class="text-xs md:text-base">Premio Gabriela Mistral - Conmemoración de los 50 años del Premio Nobel - Gobierno de la República de Chile</p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">1997</div>
                          <p class="text-xs md:text-base">a) Premio Especial de Argentores<br>
                            b) Premio de la Universidad de Tel Aviv - Amigos de la Universidad de Tel Aviv</p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">2000</div>
                          <p class="text-xs md:text-base">Gran Premio de Honor de la SADE - (Sociedad Argentina de Escritores)</p>
                        </li>
                        <li>
                          <div class="text-white font-semibold text-base year">2010</div>
                          <p class="text-xs md:text-base">a) Medalla del Bicentenario - Primera personalidad en recibir esta distinción - Gobierno de la Ciudad Autónoma de Buenos Aires<br>
                            b) Homenaje en el Congreso de Literatura Infantil y Juvenil - Santiago de Chile</p>
                        </li>
                        <li></li>
                      </ul>
                    </div>
                  </div> 
            </div>
        </div>
        <Footer/>
	</body>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</html>

<script is:inline>
	document.fonts.ready.then(() => {
		document.body.style.opacity = '1';
	})
</script>

<style>
    .font{
        font-family: "playfair display", sans-serif;
    }
    
    .first {
        background: url(../../assets/homenaje1.jpg);
    }
    .second {
        background: url(../../assets/homenaje2.jpg);
    }
    .third {
        background: url(../../assets/homenaje3.jpg);
    }
    .fourth {
        background: url(../../assets/homenaje4.jpg);
    }
    .fifth {
        background: url(../../assets/homenaje5.jpg);
    }
    .sixth {
        background: url(../../assets/homenaje6.jpg);
    }

    .gallery-cell {
        width: 66%;
        height: 100%;
        margin-right: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        padding: 3rem 0;
    }

    .wrapper{
        padding: 2rem 5rem;
        border-radius: 15px;
    }

    .sessions{
        margin-top: 2rem;
        border-radius: 12px;
        position: relative;
    }

    li{
        padding-bottom: 1.5rem;
        border-left: 2px solid white;
        position: relative;
        padding-left: 20px;
        margin-left: 10px;
        cursor: context-menu;
      }
      
      .year{
        font-weight: 400;
        font-size: 18px;
        font-style: normal;
        position: absolute;
        left: -4rem;
        
      }
      
      li:first-child::before{
        background-color: white;
      }
      li:last-child::before{
        background-color: white;
      }
      li:first-child{
        padding-top: 1rem;
  
      }
      
      li:last-child{
        border: 0px;
        margin-left: 12px;
        margin-top: -1rem;
      }
      li:before{
        margin-top: 6px;
        content: '';
        width: 10px;
        height: 10px;
        background: #231F20;
        border: 2px solid white;
        border-radius: 50%;
        position: absolute;
        left: -6px;
      }
      
      p {
        font-weight: 400;
        font-style: italic;
        color: white;
        line-height: 1.5;
        font-size: 15px;
    }

    body {
      opacity: 0;
      overflow-x: hidden;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
    }
    html {
      background: #231F20;
      color: white;
    }
</style>