---
import { Image } from "astro:assets";
const { title, src, href } = Astro.props
---

<div class="bg-white p-4 w-full   rounded-lg lg:w-[17rem]">
    <div class="overflow-hidden">
        <a class="flex h-60" onclick={title == "El archivo de María Elena" ? "return false" : ""} href={href}>
            <Image src={src} alt="card" class="transition-all duration-700 hover:scale-125 hover:brightness-75 object-cover" />
        </a>
    </div>
    <div class="text-black grid justify-center my-8 gap-4">
        <p class="font-bold text-sm m-auto">{title}</p>
        <a href={href} onclick={title == "Premio Infantil" ? "return false" : ""} class="m-auto text-sm font-bold border-black px-6 py-2 rounded border-2 hover:brightness-75">{title != "Premio Infantil" ? "VER MÁS" : "Proximamente"}</a>
    </div>
</div>