---
import { Image } from 'astro:assets';
import SaraIndex from "../assets/saraIndex.png"
import '@fontsource/playfair-display';
---
<div class="mx-3 sm:mx-10 xl:m-auto max-w-7xl rounded-2xl bg-[#160303]">
    <div class="flex flex-col py-20 md:flex-row row-span-2 items-center justify-center max-w-6xl m-auto px-10 xl:px-0 gap-10 mb-20">
        <div class="flex-1 flex justify-center">
            <div class="w-fit">
                <video src="/videoGracielaComprimido.mp4" class='shadow-2xl shadow-black max-h-[50rem]' controls autoplay muted loop playsinline/>
                <span class="flex justify-end text-xs font mt-2">Video: Graciela García Romero</span>
            </div>
        </div>
        <div class="flex-1 grid justify-end items-end">
            <!-- <h1 class="font text-6xl">¡Nuevo Encuentro!</h1> -->
            <h1 class="font text-4xl">María Elena Walsh, "La Ruptura" Jornadas Académicas Nacionales </h1>
            <div class="my-10 text-md grid gap-3">
                <p>Universidades y centros de investigación de todo el país llevan adelante estas jornadas académicas nacionales en un espacio de reflexión sobre María Elena Walsh, con clases magistrales, seminarios, ponencias y experiencias artísticas.</p>
                <p>Sala del Tesoro Paul Grossac | Biblioteca Nacional</p>					
                <p>La exposición se puede visitar del 10 de junio al 3 de agosto de lunes a viernes de 9 a 21hrs y sábados y domingos de 12 a 19hrs.</p>
                <br>
                <p>Del 10 al 13 de junio se realizarán recorridos por la exposición:</p>
                <ul>
                   <li class="font-thin">Martes 10 de junio: 17hrs.</li>
                   <li class="font-thin">Miércoles 11 de junio: 17hrs.</li>
                   <li class="font-thin">Jueves 12 de junio: 14:30 y 17hrs.</li>
                   <li class="font-thin">Viernes 13 de junio: 14:30hrs.</li>
                </ul>
            </p>
            <br>
            <a href="/triptico.pdf" download="tríptico.pdf" class="border-2 border-gray-500 w-max p-4 hover:cursor-pointer rounded hover:bg-gray-500">
                Descargar PDF
            </a>
        </div>

            <span class="font">
                Fundación Walsh Facio y Biblioteca Nacional Mariano Moreno
            </span>
        </div>
    </div>
</div>

<style>
	.font{
		font-family: "Playfair Display", sans-serif;
	}
</style>