---
import { Image } from 'astro:assets';
import Revés from "../assets/reves.jpeg"
import SaraIndex from "../assets/saraIndex.png"
import '@fontsource/playfair-display';
import { getEntryBySlug } from "astro:content";


const entry = await getEntryBySlug("novedad", "novedad");
const { Content } = await entry.render();
const { data } = entry; // ahora sí tenés accesso al frontmatter
console.log(data)
---

<div class="mx-3 sm:mx-10 xl:m-auto max-w-7xl rounded-2xl bg-[#160303]">
  <div class="flex flex-col py-16 md:py-20 md:flex-row items-stretch justify-center max-w-6xl m-auto px-6 md:px-10 xl:px-0 gap-12 mb-12 md:mb-20">
    
    <!-- Video -->
    <div class="flex-1 flex justify-center">
      <div class="w-fit flex justify-center">
        {data.image && <img src={data.image} class="rounded-md max-w-full h-auto object-contain" />}
        {data.video && <video src={data.video} class="shadow-xl shadow-black rounded-md max-h-[50rem]" controls autoplay muted loop playsinline />}
      </div>
    </div>

    <!-- Texto -->
    <div class="flex-1 flex flex-col justify-between self-stretch md:py-10">
      <div class="space-y-6">
        <h1 class="font text-3xl md:text-4xl">
          {data.title}
        </h1>
        
        <div class="prose prose-invert max-w-none [&_strong]:font-normal">
          <Content />
        </div>
      </div>

      <div class="mt-8 space-y-3 text-sm leading-relaxed font-medium">
        {data.credits}
      </div>
    </div>
  </div>
</div>

<style>
  .font {
    font-family: "Playfair Display", sans-serif;
  }
</style>
