---
import { Image } from 'astro:assets';
import Revés from "../assets/reves.jpeg"
import SaraIndex from "../assets/saraIndex.png"
import '@fontsource/playfair-display';
---
<div class="mx-3 sm:mx-10 xl:m-auto max-w-7xl rounded-2xl bg-[#160303]">
    <div class="flex flex-col py-20 md:flex-row row-span-2 items-center justify-center max-w-6xl m-auto px-10 xl:px-0 gap-10 mb-20">
        <div class="flex-1 flex justify-center">
            <div class="w-fit">
                <Image src={Revés} class='shadow-2xl shadow-black max-h-[50rem]' alt='reino del reves' />
                <span class="flex justify-end text-xs font mt-2">Foto: Sara Facio</span>
            </div>
        </div>
        <div class="flex-1 grid justify-end items-end">
            <!-- <h1 class="font text-6xl">¡Nuevo Encuentro!</h1> -->
            <h1 class="font text-4xl">Premio Estudiantil 2025 <br> El Reino del Revés - 60 años</h1>
            <div class="my-10 text-md grid gap-3">
                <p class="underline"><b>Categorías</b></p>
                <ul>
                    <li class="font-light"><b>1. Nivel Inicial:</b> Producciones plásticas</li>
                    <li class="font-light"><b>2. Primario:</b> Video</li>
                    <li class="font-light">- De 1er. a 3er. grado</li>
                    <li class="font-light">- De 4to. a 7mo. grado</li>
                    <li class="font-light"><b>3. Secundario:</b> Fotografía</li>
                </ul>					
                <br>
                <p class="underline"><b>Jurados</b></p>
                <ul>
                    <li class="font-light"><b>Artes Plásticas:</b></li>
                    <li class="font-light">Raquel Cané - Ezequiel Díaz Ortiz - Pablo Elías</li>
                    <br>
                    <li class="font-light"><b>Videos:</b></li>
                    <li class="font-light">Maijo D´Amico - Graciela García Romero - Daniel Rivas</li>
                    <br>
                    <li class="font-light"><b>Fotografía:</b></li>
                    <li class="font-light">Elda Harrington - Silvia Mangialardi - Juan Travnik</li>
                </ul>	
            <br>
            <div class="flex flex-col md:flex-row gap-4">
                <a href="basesyformulario.docx" download="Bases y Formulario" class="border-2 border-gray-500 w-max p-4 hover:cursor-pointer rounded hover:bg-gray-500 transition">
                    Descargar Bases y Formulario
                </a>
                <a href="/noticias/premio-infantil-2025" class="border-2 border-gray-500 w-max p-4 hover:cursor-pointer rounded hover:bg-gray-500 transition">
                    Ir a la noticia
                </a>
            </div>
        </div>

            <span class="font">
                Fundación Walsh Facio - Premio Infantil
            </span>
        </div>
    </div>
</div>

<style>
	.font{
		font-family: "Playfair Display", sans-serif;
	}
</style>