---
import { Image } from "astro:assets";
import LogoBlanco from "../assets/logo-blanco.svg";
---

<div class="border-t">
    <div class="max-w-screen-2xl m-auto flex justify-center md:justify-around py-10 flex-col items-center gap-10 md:items-start md:flex-row 2xl:justify-between ">
        <Image src={LogoBlanco} alt="logo" class="h-fit" />
        <div class="flex justify-center gap-10 font-normal">
            <ul class="flex flex-col gap-4 items-center lg:items-start">
                <li class="text-base link w-fit"><a href="/">Home</a></li>
                <li class="text-base link w-fit"><a href="/premio-fmew">Premio María Elena Walsh</a></li>
                <li class="text-base link w-fit"><a href="/maria-elena-y-la-comunidad">María Elena en la Comunidad</a></li>
                <li class="text-base link w-fit"><a target="_blank" href="https://archivo.fundacionmariaelenawalsh.com.ar/pawtucket/">El archivo de María Elena </a></li>
                <li class="text-base link w-fit"><a href="/noticias">Noticias</a></li>
            </ul>
            <ul class="lg:flex flex-col gap-4 hidden">
                <li class="text-base link w-fit"><a href="/biografia">María Elena Walsh</a></li>
                <li class="text-base link w-fit"><a href="/biografia">Biografía</a></li>
                <li class="text-base link w-fit"><a href="/obras">Obra</a></li>
                <li class="text-base link w-fit"><a href="/premios-y-homenajes">Premios y Homenajes</a></li>
                <li class="text-base link w-fit"><a href="/maria-elena-viva">María Elena viva</a></li>
            </ul>
        </div>
        <div class="flex gap-3">
            <a class="hover:brightness-75 duration-150" href="https://www.instagram.com/fundacionmariaelenawalsh/" target="_blank"> 
                <svg xmlns="http://www.w3.org/2000/svg" class="p-1.5 border rounded-full" width="34" height="34" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    <path d="M16.5 7.5l0 .01" />
                </svg>
            </a>
            <a class="hover:brightness-75 duration-150" href="https://www.facebook.com/fundacionmariaelenawalsh/" target="_blank"> 
                <svg xmlns="http://www.w3.org/2000/svg" class="p-1.5 border rounded-full" width="34" height="34" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                </svg>
            </a>
            <a class="hover:brightness-75 duration-150" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=secretaria@fundacionmariaelenawalsh.com" target="_blank"> 
                <svg xmlns="http://www.w3.org/2000/svg" class="p-1.5 border rounded-full" width="34" height="34" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                    <path d="M3 7l9 6l9 -6" />
                </svg>
            </a>
            <a class="hover:brightness-75 duration-150" href="https://www.youtube.com/@fundacionmariaelenawalsh2524" target="_blank"> 
                <svg xmlns="http://www.w3.org/2000/svg" class="p-1.5 border rounded-full" x="0px" y="0px" width="34" height="34" viewBox="0,0,256,256">
                    <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8,8)"><path d="M16,6c-3.76562,0 -7.09375,0.39063 -9.125,0.6875c-1.67969,0.24609 -3.03516,1.51172 -3.34375,3.1875c-0.26172,1.42578 -0.53125,3.51172 -0.53125,6.125c0,2.61328 0.26953,4.69922 0.53125,6.125c0.30859,1.67578 1.66406,2.94531 3.34375,3.1875c2.03906,0.29688 5.37891,0.6875 9.125,0.6875c3.74609,0 7.08594,-0.39062 9.125,-0.6875c1.67969,-0.24219 3.03516,-1.51172 3.34375,-3.1875c0.26172,-1.42969 0.53125,-3.51953 0.53125,-6.125c0,-2.60547 -0.26562,-4.69531 -0.53125,-6.125c-0.30859,-1.67578 -1.66406,-2.94141 -3.34375,-3.1875c-2.03125,-0.29687 -5.35937,-0.6875 -9.125,-0.6875zM16,8c3.63281,0 6.87891,0.37109 8.84375,0.65625c0.84375,0.125 1.50391,0.76172 1.65625,1.59375c0.24219,1.32031 0.5,3.27734 0.5,5.75c0,2.46875 -0.25781,4.42969 -0.5,5.75c-0.15234,0.83203 -0.80859,1.47266 -1.65625,1.59375c-1.97266,0.28516 -5.23437,0.65625 -8.84375,0.65625c-3.60937,0 -6.875,-0.37109 -8.84375,-0.65625c-0.84375,-0.12109 -1.50391,-0.76172 -1.65625,-1.59375c-0.24219,-1.32031 -0.5,-3.27344 -0.5,-5.75c0,-2.48047 0.25781,-4.42969 0.5,-5.75c0.15234,-0.83203 0.80859,-1.46875 1.65625,-1.59375c1.96094,-0.28516 5.21094,-0.65625 8.84375,-0.65625zM13,10.28125v11.4375l1.5,-0.84375l7,-4l1.5,-0.875l-1.5,-0.875l-7,-4zM15,13.71875l3.96875,2.28125l-3.96875,2.28125z"></path></g></g>
                    </svg>
            </a>
            
        </div>
    </div>
</div>
<style>
    .link{
		position: relative;
	}
	.link::after{
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: white;
		transform-origin: left;
		transform: scaleX(0);
		transition: transform 0.3s ease-in-out;
	}
	.link:hover::after{
		transform-origin: left;
		transform: scaleX(1);
	}
</style>